body {
  margin: 0;
  padding:  0;
}
.court {
  background-color: #8CB27C;
  width: 1000px;
  height: 490px
}
.court-inside {
  position: absolute;
  background-color: #8CB27C;
  width: 955px;
  height: 455px;
  top: 20px
  left:20px;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 5px;
}
.lil-rectanglel {
  position: absolute;
  width: 100px;
  height: 190px;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 5px;
  background-color: #8CB27C;
  top: 150px;
  left: 875px;
}
.lil-rectangler {
  position: absolute;
  width: 100px;
  height: 190px;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 5px;
  background-color: #8CB27C;
  top: 150px;
  left: 875px;
}
.circle {
  position: relative;
  border-radius: 50%;
  width: 190px;
  height: 190px;
  background-color: #8CB27C;
  left: 410px;
  bottom: 349px;
  border-color: #FFFFFF;
  border-style: solid;
  border-width: 5px;
}
.ball1 {
  position: absolute;
  left: 110px;
  top: 155px;
  z-index: 1;
}
.ball2 {
  position: absolute;
  left: 510px;
  top: 80px;
  z-index: 1;
}
.ball3 {
  position: absolute;
  left: 845px;
  top: 310px;
  z-index: 1;
}
